section {
font-family:  helvetica;
font-size: 14px;
}
from div {
    margin-bottom: 10px;
}
label{
font-weight: bold;
line-height: 23px;
float:none;
}
form input#name{
    margin-left: 19px;
}
form input#phone{
    margin-left: 19px;
}
form input#email{
    margin-left: 27px;
}
#b{
    width: 385px;
    height: 240px;
    border: 1px solid black;
    background: #ABD4FE;
    margin: 40px 295px ;
    padding:20px 10px 50px;
}
#button:hover{
    color:#fff;
    background: #5197FE;
    cursor: pointer;
}